Repository op-rs/op-reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

.github/CODEOWNERS:

*                           @emhane @theochap @BioMark3r
crates/blockchain-tree-api/ @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/blockchain-tree/     @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/engine/              @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/exex/                @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/node/                @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/optimism/            @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/rpc/                 @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
etc/                        @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
.github/                    @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane

more lint fixes
  crates/exex/external-proofs/src/storage/in_memory/mod.rs
  crates/exex/external-proofs/src/storage/in_memory/store.rs
  crates/exex/external-proofs/src/storage/in_memory/store_tests.rs
  crates/exex/external-proofs/src/storage/mdbx/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/models/storage.rs
  crates/exex/external-proofs/src/storage/mdbx/models/version.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

remove backticks
  crates/exex/external-proofs/src/storage/in_memory/mod.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

WIP
  Cargo.lock
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/benches/storage_benchmarks.rs
  crates/exex/external-proofs/check_metrics.sh
  crates/exex/external-proofs/grafana-dashboard.json
  crates/exex/external-proofs/src/backfill.rs
  crates/exex/external-proofs/src/in_memory.rs
  crates/exex/external-proofs/src/lib.rs
  crates/exex/external-proofs/src/live.rs
  crates/exex/external-proofs/src/mdbx/mod.rs
  crates/exex/external-proofs/src/metrics.rs
  crates/exex/external-proofs/src/storage.rs
  crates/exex/external-proofs/src/storage_with_metrics.rs
  crates/storage/db/src/implementation/mdbx/mod.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

fix: lint
  crates/exex/external-proofs/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

chore: disable codspeed in op-reth
  .github/workflows/bench.yml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

WIP
  crates/exex/external-proofs/src/backfill.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

WIP
  crates/exex/external-proofs/src/backfill.rs
  crates/exex/external-proofs/src/mdbx/mod.rs
  crates/storage/db/src/implementation/mdbx/mod.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane, @theochap, @BioMark3r

chore: disable codspeed in op-reth (#220)
  .github/workflows/bench.yml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

chore: ExternalStorage -> OpProofsStorage (#203)
  crates/exex/external-proofs/src/backfill.rs
  crates/exex/external-proofs/src/in_memory.rs
  crates/exex/external-proofs/src/lib.rs
  crates/exex/external-proofs/src/storage.rs
  crates/exex/external-proofs/src/storage_tests.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

lint doc fix
  crates/exex/external-proofs/src/storage/mdbx/mod.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

scaffold MDBX proofs storage
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/storage/mdbx/cursor.rs
  crates/exex/external-proofs/src/storage/mdbx/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/store.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

lint fixes
  crates/exex/external-proofs/src/storage/mdbx/cursor.rs
  crates/exex/external-proofs/src/storage/mdbx/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/store.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

make clippy happy
  crates/exex/external-proofs/src/storage/mdbx/store.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

feat: mdbx tables (#218)
  Cargo.lock
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/backfill.rs
  crates/exex/external-proofs/src/lib.rs
  crates/exex/external-proofs/src/storage/in_memory/mod.rs
  crates/exex/external-proofs/src/storage/in_memory/store.rs
  crates/exex/external-proofs/src/storage/in_memory/store_tests.rs
  crates/exex/external-proofs/src/storage/mdbx/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/models/block.rs
  crates/exex/external-proofs/src/storage/mdbx/models/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/models/storage.rs
  crates/exex/external-proofs/src/storage/mdbx/models/version.rs
  crates/exex/external-proofs/src/storage/mod.rs
  crates/exex/external-proofs/src/storage/traits.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

add external proofs exex to op
  Cargo.lock
  Cargo.toml
  crates/exex/external-proofs/Cargo.toml
  crates/optimism/bin/Cargo.toml
  crates/optimism/bin/src/main.rs
  crates/optimism/node/src/args.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

add value_name
  crates/optimism/bin/src/main.rs
  crates/optimism/node/src/args.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

feat: scaffold MDBX proofs storage (#221)
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/storage/mdbx/cursor.rs
  crates/exex/external-proofs/src/storage/mdbx/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/store.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

make clippy happy
  crates/optimism/bin/src/main.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

fix fmt issues
  crates/optimism/bin/src/main.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Fix merge conflicts
  Cargo.lock
  crates/exex/external-proofs/src/storage/in_memory/mod.rs
  crates/exex/external-proofs/src/storage/mod.rs
  crates/optimism/exex/Cargo.toml
  crates/optimism/storage/Cargo.toml
  crates/optimism/storage/src/lib.rs
  crates/optimism/storage/src/proofs.rs
  crates/optimism/storage/src/proofs/backfill.rs
  crates/optimism/storage/src/proofs/in_memory.rs
  crates/optimism/storage/src/proofs/mdbx/mod.rs
  crates/optimism/storage/src/proofs/mdbx/models/block.rs
  crates/optimism/storage/src/proofs/mdbx/models/mod.rs
  crates/optimism/storage/src/proofs/mdbx/models/storage.rs
  crates/optimism/storage/src/proofs/mdbx/models/version.rs
  crates/optimism/storage/src/proofs/mod.rs
  crates/optimism/storage/tests/proofs.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

Move proofs storage to own crate
  crates/optimism/storage/proofs/Cargo.toml
  crates/optimism/storage/proofs/src/chain.rs
  crates/optimism/storage/proofs/src/lib.rs
  crates/optimism/storage/proofs/src/proofs/backfill.rs
  crates/optimism/storage/proofs/src/proofs/in_memory.rs
  crates/optimism/storage/proofs/src/proofs/mdbx/mod.rs
  crates/optimism/storage/proofs/src/proofs/mdbx/models/block.rs
  crates/optimism/storage/proofs/src/proofs/mdbx/models/mod.rs
  crates/optimism/storage/proofs/src/proofs/mdbx/models/storage.rs
  crates/optimism/storage/proofs/src/proofs/mdbx/models/version.rs
  crates/optimism/storage/proofs/src/proofs/mod.rs
  crates/optimism/storage/proofs/tests/proofs.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

fmt fix
  crates/optimism/bin/src/main.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Move proofs to reth-optimism-trie
  Cargo.lock
  Cargo.toml
  crates/optimism/exex/Cargo.toml
  crates/optimism/storage/Cargo.toml
  crates/optimism/storage/proofs/src/proofs/mdbx/mod.rs
  crates/optimism/storage/src/chain.rs
  crates/optimism/storage/src/lib.rs
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/api.rs
  crates/optimism/trie/src/backfill.rs
  crates/optimism/trie/src/db/block.rs
  crates/optimism/trie/src/db/mod.rs
  crates/optimism/trie/src/db/storage.rs
  crates/optimism/trie/src/db/version.rs
  crates/optimism/trie/src/in_memory.rs
  crates/optimism/trie/src/lib.rs
  crates/optimism/trie/tests/proofs.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

Fix conflicts
  Cargo.lock
  crates/optimism/exex/src/lib.rs
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/backfill.rs
  crates/optimism/trie/src/in_memory.rs
  crates/optimism/trie/src/lib.rs
  crates/optimism/trie/tests/in_memory.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

Fix conflicts
  Cargo.lock
  crates/optimism/exex/Cargo.toml
  crates/optimism/exex/src/lib.rs
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/api.rs
  crates/optimism/trie/src/db/mod.rs
  crates/optimism/trie/src/db/storage.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

Fix docs
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/lib.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Fix docs
  crates/optimism/trie/src/db/storage.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Fix lint
  crates/optimism/trie/src/db/block.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Fix lint
  crates/optimism/exex/Cargo.toml
  crates/optimism/trie/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

clippy fix
  crates/optimism/bin/src/main.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Fix lint
  Cargo.lock
  crates/optimism/exex/Cargo.toml
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

Add new crates to skip list
  .github/assets/check_wasm.sh
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Generalise crate docs
  crates/optimism/exex/Cargo.toml
  crates/optimism/exex/src/lib.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Rescue missing mdbx files
  crates/exex/external-proofs/src/storage/mdbx/mod.rs
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/db/cursor.rs
  crates/optimism/trie/src/db/mod.rs
  crates/optimism/trie/src/db/models/block.rs
  crates/optimism/trie/src/db/models/mod.rs
  crates/optimism/trie/src/db/models/storage.rs
  crates/optimism/trie/src/db/models/version.rs
  crates/optimism/trie/src/db/store.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Remove redundant dep
  Cargo.lock
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/backfill.rs
  crates/optimism/trie/src/db/models/block.rs
  crates/optimism/trie/src/db/models/mod.rs
  crates/optimism/trie/src/db/models/storage.rs
  crates/optimism/trie/src/db/models/version.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

Smol fixes
  crates/optimism/trie/src/backfill.rs
  crates/optimism/trie/src/db/mod.rs
  crates/optimism/trie/src/db/models/version.rs
  examples/custom-node/src/primitives/header.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane, @theochap, @BioMark3r

Revert unrelated change
  examples/custom-node/src/primitives/header.rs
Owners: @emhane, @theochap, @BioMark3r

Fix deps
  crates/optimism/trie/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Rm redundant test module
  crates/optimism/trie/tests/in_memory.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Replace boiler plate code with derive macro
  Cargo.lock
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/db/models/block.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9
