Repository op-rs/op-reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

Fix automatic bug label for bug issue
  .github/ISSUE_TEMPLATE/bug.yml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

feat: create initial external-proofs ExEx crate
  Cargo.lock
  Cargo.toml
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/lib.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

feat: add storage interface with pruning methods
  Cargo.lock
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/lib.rs
  crates/exex/external-proofs/src/storage.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

feat: implement in-memory storage backend
  Cargo.lock
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/in_memory.rs
  crates/exex/external-proofs/src/lib.rs
  crates/exex/external-proofs/src/storage.rs
  crates/exex/external-proofs/src/storage_tests.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @emhane, @theochap, @BioMark3r

chore: update superchain config
  crates/optimism/chainspec/res/superchain_registry_commit
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

feat: create initial external-proofs ExEx crate
  Cargo.lock
  Cargo.toml
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/lib.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

feat: add storage interface with pruning methods
  Cargo.lock
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/lib.rs
  crates/exex/external-proofs/src/storage.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

feat: implement in-memory storage backend
  Cargo.lock
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/in_memory.rs
  crates/exex/external-proofs/src/lib.rs
  crates/exex/external-proofs/src/storage.rs
  crates/exex/external-proofs/src/storage_tests.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

remove unused error
  crates/net/nat/src/lib.rs
Owners: @emhane, @theochap, @BioMark3r

resolve all unused variables
  crates/optimism/cli/src/lib.rs
  crates/rpc/rpc-eth-types/src/error/mod.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

lint doc fixes
  crates/storage/codecs/derive/src/lib.rs
Owners: @emhane, @theochap, @BioMark3r

fmt lintfix
  testing/ef-tests/src/lib.rs
Owners: @emhane, @theochap, @BioMark3r

chore: fix ci runner
  .github/workflows/unit.yml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

runs-on cfg fix
  .github/workflows/unit.yml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

runner fixed on remaining workflows
  .github/workflows/bench.yml
  .github/workflows/compact.yml
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

update Reth group -> ubuntu-latest
  .github/workflows/hive.yml
  .github/workflows/kurtosis-op.yml
  .github/workflows/kurtosis.yml
  .github/workflows/prepare-reth.yml
  .github/workflows/stage.yml
  .github/workflows/sync-era.yml
  .github/workflows/sync.yml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

github repo name updated
  .github/workflows/hive.yml
  .github/workflows/prepare-reth.yml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Mv op-proofs exex crate into optimism directory
  crates/optimism/external-proofs/Cargo.toml
  crates/optimism/external-proofs/src/lib.rs
  crates/optimism/external-proofs/src/storage.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Rename external-proofs to reth-optimism-exex
  Cargo.lock
  Cargo.toml
  crates/optimism/exex/Cargo.toml
  crates/optimism/exex/src/lib.rs
  crates/optimism/exex/src/storage.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

Rename ExternalProofExEx to OpProofsExEx
  crates/optimism/exex/src/lib.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Fix lint
  crates/optimism/exex/src/lib.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Rename prefix External to OpProofs
  crates/optimism/exex/src/storage.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Move storage module from reth-optimism-exex into reth-optimism-storage
  Cargo.lock
  crates/optimism/exex/src/lib.rs
  crates/optimism/storage/Cargo.toml
  crates/optimism/storage/src/lib.rs
  crates/optimism/storage/src/proofs.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

Slim down deps of reth-optimism-storage, rm async-trait
  Cargo.lock
  crates/optimism/storage/Cargo.toml
  crates/optimism/storage/src/proofs.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

Fix lint
  crates/optimism/storage/src/proofs.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Fix lint
  Cargo.lock
  crates/optimism/exex/Cargo.toml
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

Rm boilerplate code in favour of using derive_more
  Cargo.lock
  crates/optimism/exex/Cargo.toml
  crates/optimism/exex/src/lib.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

Fix docs
  crates/optimism/storage/src/proofs.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

WIP
  crates/exex/external-proofs/plan.md
  crates/exex/external-proofs/src/lib.rs
  crates/exex/external-proofs/src/mdbx/mod.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Finish prototype
  Cargo.lock
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/main.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

feat: implement in-memory storage backend (#183)
  Cargo.lock
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/in_memory.rs
  crates/exex/external-proofs/src/lib.rs
  crates/exex/external-proofs/src/storage.rs
  crates/exex/external-proofs/src/storage_tests.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

feat: implement initial sync backfill job (#196)
  Cargo.lock
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/backfill.rs
  crates/exex/external-proofs/src/in_memory.rs
  crates/exex/external-proofs/src/lib.rs
  crates/exex/external-proofs/src/storage.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

initial commit
  crates/exex/external-proofs/src/backfill.rs
  crates/exex/external-proofs/src/lib.rs
  crates/exex/external-proofs/src/storage/in_memory/in_memory.rs
  crates/exex/external-proofs/src/storage/in_memory/in_memory_tests.rs
  crates/exex/external-proofs/src/storage/in_memory/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/models/mod.rs
  crates/exex/external-proofs/src/storage/mod.rs
  crates/exex/external-proofs/src/storage/traits.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

mdbx tables added
  Cargo.lock
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/storage/mdbx/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/models/block.rs
  crates/exex/external-proofs/src/storage/mdbx/models/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/models/storage.rs
  crates/exex/external-proofs/src/storage/mdbx/models/version.rs
  crates/exex/external-proofs/src/storage/mod.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

improve doc comments
  crates/exex/external-proofs/src/storage/mdbx/models/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/models/storage.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

lint fmt fix
  crates/exex/external-proofs/src/backfill.rs
  crates/exex/external-proofs/src/storage/in_memory/in_memory_tests.rs
  crates/exex/external-proofs/src/storage/mdbx/models/mod.rs
  crates/exex/external-proofs/src/storage/mod.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

lint fmt fix
  crates/exex/external-proofs/src/backfill.rs
  crates/exex/external-proofs/src/storage/in_memory/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/models/block.rs
  crates/exex/external-proofs/src/storage/mdbx/models/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/models/storage.rs
  crates/exex/external-proofs/src/storage/mdbx/models/version.rs
  crates/exex/external-proofs/src/storage/mod.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

doc fixes
  crates/exex/external-proofs/src/storage/in_memory/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/mod.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

lintfix
  crates/exex/external-proofs/src/storage/in_memory/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/mod.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

.github/CODEOWNERS:

*                           @emhane @theochap @BioMark3r
crates/blockchain-tree-api/ @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/blockchain-tree/     @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/engine/              @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/exex/                @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/node/                @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/optimism/            @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/rpc/                 @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
etc/                        @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
.github/                    @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
