Repository op-rs/op-reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

fixup! Replace boiler plate code with derive macro
  crates/optimism/trie/src/db/models/block.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Fix features for reth-optimism-trie
  Cargo.lock
  crates/optimism/exex/Cargo.toml
  crates/optimism/trie/Cargo.toml
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

fixup! Fix features for reth-optimism-trie
  Cargo.lock
  crates/optimism/trie/Cargo.toml
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

fix issue with seeking
  crates/exex/external-proofs/grafana-dashboard.json
  crates/exex/external-proofs/src/in_memory.rs
  crates/exex/external-proofs/src/lib.rs
  crates/exex/external-proofs/src/live.rs
  crates/exex/external-proofs/src/mdbx/cursor.rs
  crates/exex/external-proofs/src/mdbx/mod.rs
  crates/exex/external-proofs/src/metrics.rs
  crates/exex/external-proofs/src/provider.rs
  crates/exex/external-proofs/src/storage.rs
  crates/exex/external-proofs/src/storage_with_metrics.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

remove debug stmts
  crates/exex/external-proofs/src/mdbx/cursor.rs
  crates/exex/external-proofs/src/provider.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

chore(op-exex): Add crate `reth-optimism-exex` and `reth-optimism-trie` (#204)
  .github/assets/check_wasm.sh
  Cargo.lock
  Cargo.toml
  crates/exex/external-proofs/src/storage/in_memory/mod.rs
  crates/exex/external-proofs/src/storage/in_memory/store_tests.rs
  crates/exex/external-proofs/src/storage/mdbx/mod.rs
  crates/exex/external-proofs/src/storage/mdbx/models/block.rs
  crates/exex/external-proofs/src/storage/mod.rs
  crates/optimism/exex/Cargo.toml
  crates/optimism/exex/src/lib.rs
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/api.rs
  crates/optimism/trie/src/backfill.rs
  crates/optimism/trie/src/db/cursor.rs
  crates/optimism/trie/src/db/mod.rs
  crates/optimism/trie/src/db/models/block.rs
  crates/optimism/trie/src/db/models/mod.rs
  crates/optimism/trie/src/db/models/storage.rs
  crates/optimism/trie/src/db/models/version.rs
  crates/optimism/trie/src/db/store.rs
  crates/optimism/trie/src/in_memory.rs
  crates/optimism/trie/src/lib.rs
  crates/optimism/trie/tests/in_memory.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane, @theochap, @BioMark3r

clean up
  crates/exex/external-proofs/src/mdbx/cursor.rs
  crates/exex/external-proofs/src/mdbx/mod.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

Implement new tests to ensure deletion behavior
  crates/exex/external-proofs/Cargo.toml
  crates/exex/external-proofs/src/mdbx/mod.rs
  crates/exex/external-proofs/src/provider.rs
  crates/exex/external-proofs/src/storage_tests.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

feat: add proof methods to `reth-optimism-trie`
  crates/optimism/trie/src/lib.rs
  crates/optimism/trie/src/proof.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

feat: add provider to `reth-optimism-trie`
  crates/optimism/trie/src/lib.rs
  crates/optimism/trie/src/provider.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

fix: lint and fix errors
  Cargo.lock
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/api.rs
  crates/optimism/trie/src/db/cursor.rs
  crates/optimism/trie/src/proof.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

fix: remove unimplemented method
  crates/optimism/trie/src/db/cursor.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

feat: add live trie collector
  Cargo.lock
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/lib.rs
  crates/optimism/trie/src/live.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

fix: format
  crates/optimism/trie/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

chore: remove op feature from deps
  crates/optimism/trie/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

fix: make op feature switchable
  Cargo.lock
  crates/optimism/trie/Cargo.toml
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

chore: separate storage and account cursors
  crates/optimism/trie/src/api.rs
  crates/optimism/trie/src/backfill.rs
  crates/optimism/trie/src/db/store.rs
  crates/optimism/trie/src/in_memory.rs
  crates/optimism/trie/tests/in_memory.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

chore: add deletion tests for op proofs storage
  crates/optimism/trie/tests/lib.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

fix: ensure primitives is not unused
  crates/optimism/trie/src/lib.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

fix: include upstream fix
  Cargo.lock
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/lib.rs
  crates/storage/db-api/Cargo.toml
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

fix dep
  crates/optimism/trie/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

revert
  crates/optimism/trie/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

feat: implement cursor read/write metrics
  Cargo.lock
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/lib.rs
  crates/optimism/trie/src/metrics.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

fix: format
  crates/optimism/trie/src/metrics.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

fix: clippy
  crates/optimism/trie/src/metrics.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

fix: ci lint and doc
  Cargo.lock
  crates/optimism/trie/Cargo.toml
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

merge restructured dir, pass all req args to exex
  Cargo.lock
  Cargo.toml
  crates/optimism/bin/Cargo.toml
  crates/optimism/bin/src/main.rs
  crates/optimism/exex/Cargo.toml
  crates/optimism/exex/src/lib.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

remove enum and use in_mem as default
  Cargo.lock
  crates/optimism/bin/src/main.rs
  crates/optimism/exex/Cargo.toml
  crates/optimism/exex/src/lib.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

feat: store hashed account and storage
  Cargo.lock
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/db/models/mod.rs
  crates/optimism/trie/src/db/models/storage.rs
  crates/optimism/trie/src/db/store.rs
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

make in_mem false as default if proofs-history is true
  crates/optimism/bin/src/main.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

fix: address PR comments
  crates/optimism/trie/src/proof.rs
  crates/optimism/trie/src/provider.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

fix: remove map_err
  crates/optimism/trie/src/proof.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

fix: ci lint and doc (#234)
  Cargo.lock
  crates/optimism/trie/Cargo.toml
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

improvements
  crates/optimism/trie/src/db/models/mod.rs
  crates/optimism/trie/src/db/models/storage.rs
  crates/optimism/trie/src/db/store.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

test cases added
  crates/optimism/trie/Cargo.toml
  crates/optimism/trie/src/db/models/storage.rs
  crates/optimism/trie/src/db/store.rs
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

fix: optimism primitives should include serde-bincode-compat
  Cargo.lock
  crates/optimism/exex/Cargo.toml
Owners: @emhane, @theochap, @BioMark3r, @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9

chore: add explanation to weird import
  crates/optimism/exex/Cargo.toml
Owners: @dhyaniarun1993, @itschaindev, @sadiq1971, @meyer9, @emhane

.github/CODEOWNERS:

*                           @emhane @theochap @BioMark3r
crates/blockchain-tree-api/ @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/blockchain-tree/     @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/engine/              @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/exex/                @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/node/                @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/optimism/            @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
crates/rpc/                 @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
etc/                        @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
.github/                    @dhyaniarun1993 @itschaindev @sadiq1971 @meyer9 @emhane
